:global {
  @import "Common";

  .cur-prize-container{
    position: relative;
    box-sizing: content-box;
    width: 6.8rem;
    margin: .2rem auto 0;
    z-index: 1;
    box-shadow: 0 0 1px 1px #ffc11b,
                0 0 0 2px #f31745,
                0 0 0 3px #ffc11b,
                0 0 0 4px #f31745,
                0 0 0 5px #ffc11b;
    border-radius: 5px;

    .inner{
      width: 6.8rem;
      padding-top: .23rem;
      z-index: 10;
      margin: 0 auto;
    }

    .not-homepage {
      display: flex;
      align-items: center;
    }
    .cur-prize{
      display: flex;
      align-items: center;
      width:6.55rem;
      height:2.92rem;
      background-color:#e50833;
      border-radius: 3px; 
      margin: 0 auto 0.3rem;

      .cur-prize-img{
        z-index: 1;
        width:2.77rem;
        height:2.34rem;
        background-color: white;
        background-size: 1.3rem 1.3rem;
        margin: 0 .24rem 0 .3rem ;  

        .prizeImgBg{
          z-index: 10;
          width:100%;
          height:100%; 
        }
      }
      .r-prize-another{
        width: 3.1rem;
        height: 1.8rem;

        .prize-label-text{
          display: block;
          width: 1.96rem;
          height: .46rem;
          background: #003861;
          color:white;
          -webkit-transform: skew(-20deg);
          -moz-transform: skew(-20deg);
          -o-transform: skew(-20deg);
          -ms-transform: skew(-20deg);
          transform: skew(-20deg);
          text-align: center;
          line-height: .46rem;
          margin-top:0.44rem;
          margin-left: .6rem;
        }

        .prize-info{
          display: block;
          width:3rem;
          height:.8rem;
          color:white;
          line-height: .8rem;
          text-align: center;
        }

        .prize-btn{
          width:3.09rem;
          height:.64rem;  
          border-radius: 2.5px;
          color:#ffffff;
          text-align: center;
          line-height: .64rem;
          border-style: none;
          -webkit-appearance:none;
        }
        .btn-bgc1{
          background:#b5b5b5;
        }
        .btn-bgc2{
          background:#ffbf40;
        }
      }
      .r-prize{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 3.1rem;
        height: 2.36rem;

        .prize-label-text{
          display: block;
          width: 1.96rem;
          height: .46rem;
          background: #003861;
          color:white;
          -webkit-transform: skew(-20deg);
          -moz-transform: skew(-20deg);
          -o-transform: skew(-20deg);
          -ms-transform: skew(-20deg);
          transform: skew(-20deg);
          text-align: center;
          line-height: .46rem;
          margin-top: .13rem;
          margin-left: .6rem;
        }

        .prize-info,.prize-status{
          display: block;
          width:3rem;
          height:.56rem;
          color:white;
          line-height: .7rem;
          text-align: center;
        }
        .prize-status{
          line-height: .3rem;
        }
        .prize-btn{
          width: 3.09rem;
          height: .64rem;  
          border-radius: 2.5px;
          color: #ffffff;
          text-align: center;
          line-height: .64rem;
          border-style: none;
          -webkit-appearance: none;
        }
        .btn-bgc1{
          background: #b5b5b5;
        }
        .btn-bgc2{
          background: #ffbf40;
        }
        .btn-bgc3{
          background: #a62617;
        }
        .btn-bgc4{
          background: red;
        }
      }
    }
    .coll-cards-ls{
      //display: flex;
      //flex-wrap: wrap;
      //justify-content: space-between;
      //width: 6.55rem;
      margin: 0 auto;


      .morediv1{
        width: 2rem;
        height: 2.7rem;
      }

      .morediv2{
        display: none;
      }

      .card-li{
        display: inline-block;
        position: relative;
        width:2rem;
        height:2.7rem;
        background: white;
        list-style: none;
        margin: 0 0 0.4rem .2rem;
        border-radius: 5px;
        text-align: start;

        .li-img{
          position: relative;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width:100%;
          height:100%;
          background: white url(./../img/cardBg.png) no-repeat center;
          background-size: .74rem .74rem;
          //border: .01rem solid #a5a5a5;
          //@include border(border, 1px, solid, #a5a5a5);
          border-radius: 5px;

          .img-bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 11;
            width:100%;
            height:100%;
            border-radius: 5px;
          }
        }
        .card-shade{
          position: absolute;
          z-index: 12;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(255,255,255,.75);
          border-radius: 5px;
        }
        .img-shade-container{
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .img-shade1{
            position: absolute;
            z-index: 9;
            width: 100%;
            height: 100%;
            left: 0;
            top: .05rem;
            right: 0;
            @include border(border, 1px, solid, #aaa0a2);
            border-radius: 3px;
          }
          .img-shade2{
            position: absolute;
            z-index: 8;
            width: 100%;
            height: 100%;
            left: 0;
            top: .1rem;
            right: 0;
            box-sizing: border-box;
            @include border(border, 1px, solid, #aaa0a2);
            border-radius: 3px;
          }
        }

        .card-bg{
          width:2rem;
          height:2.7rem;
          border-radius: .05rem;
        }

        .card-sum,.card-logo{
          position: absolute;
          z-index: 12;
          display: block;
        }

        .card-sum{
          left:.1rem;
          bottom:.13rem;
          height: .3rem;
          padding: 0 .05rem 0;
          @include px2px(font-size, 12);
          color: #004782;
          line-height: .3rem;
          text-align: center;
          //background-color: #01416f;
          border-radius: 2px;
        }

        .card-logo{
          position: absolute;
          top: .15rem;
          right: .15rem;
          width: .39rem;
          height: .4rem;
          border-radius: .05rem;
          background-color: #fe8501;
          color:white;
          text-align: center;
          line-height: .4rem;

        }
      }

    }
  }

}