:global {
  @import "Common";

  .cur-prize-container{
    position: relative;
    box-sizing: content-box;
    width: 90.6%;
    margin: .2rem auto 0;
    box-shadow: 0 0 1px 1px #ffc11b,
                0 0 0 2px #f31745,
                0 0 0 3px #ffc11b,
                0 0 0 4px #f31745,
                0 0 0 5px #ffc11b;
    border-radius: 5px;

    .inner{
      width: 100%; // 6.8
      padding-top: .23rem;
      margin: 0 auto;
    }

    .not-homepage {
      display: flex;
      align-items: center;
    }
    .cur-prize{
      display: flex;
      align-items: center;
      width: 96.3%; // 6.55
      height: 2.92rem;
      margin: 0 auto 0.3rem;
      border-radius: 3px;
      background-color: #e50833;

      .cur-prize-img{
        width: 42.3%;
        height: 2.34rem;
        margin: 0 .24rem 0 .3rem;
        background-color: white;
        background-size: 1.3rem 1.3rem;

        .prize-img-bg{
          width: 100%;
          height: 100%;
        }
      }
      .r-prize-another{
        width: 47.3%; // 3.1
        height: 1.8rem;

        .prize-label-text{
          width: 63.2%; // 1.96
          height: .46rem;
          margin: 0.44rem 0 0 .6rem;
          color: white;
          text-align: center;
          line-height: .46rem;
          transform: skew(-20deg);
          background: #003861;
        }

        .prize-info{
          display: block;
          width: 96.7%; // 3
          height: .8rem;
          color: white;
          line-height: .8rem;
          text-align: center;
        }

        .prize-btn{
          width: 99.5%; // 3.09
          height: .64rem;
          color: #ffffff;
          text-align: center;
          line-height: .64rem;
          border-radius: 2.5px;
          border-style: none;
          -webkit-appearance: none;
        }

        .btn-bgc1{
          background: #b5b5b5;
        }

        .btn-bgc2{
          background: #ffbf40;
        }
      }
      .r-prize{
        display: flex;
        width: 47.3%; // 3.1
        height: 2.36rem;
        flex-direction: column;
        justify-content: center;

        .prize-label-text{
          width: 63.2%; // 1.96
          margin: .13rem 0 0 .6rem;
          color: white;
          text-align: center;
          line-height: .46rem;
          transform: skew(-20deg);
          background: #003861;
        }

        .prize-info,.prize-status{
          width: 96.7%;
          height: .56rem;
          color: white;
          line-height: .7rem;
          text-align: center;
        }
        .prize-status{
          line-height: .3rem;
        }
        .prize-btn{
          width: 99.2%; // 3.09
          color: #ffffff;
          border-radius: 2.5px;
          text-align: center;
          line-height: .64rem;
          border-style: none;
          -webkit-appearance: none;
        }
        .btn-bgc1{
          background: #b5b5b5;
        }
        .btn-bgc2{
          background: #ffbf40;
        }
        .btn-bgc3{
          background: #a62617;
        }
        .btn-bgc4{
          background: red;
        }
      }
    }
    .coll-cards-ls{
      width: 100%;
      margin: 0 auto;

      .morediv1{
        width: 29.4%; // 2
        height: 2.7rem;
      }

      .morediv2{
        display: none;
      }

      .card-li{
        display: inline-block;
        position: relative;
        width: 29.4%; // 2
        height: 2.7rem;
        margin: 0 0 0.4rem .2rem;
        list-style: none;
        border-radius: 5px;
        text-align: start;
        background: white;

        .li-img{
          position: relative;
          display: flex;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background: white url(./../img/cardBg.png) no-repeat center;
          background-size: .74rem .74rem;

          .img-bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
        .card-shade{
          position: absolute;
          z-index: 12;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 5px;
          background: rgba(255,255,255,.75);
        }
        .img-shade-container{
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .img-shade1{
            position: absolute;
            z-index: 9;
            width: 100%;
            height: 100%;
            left: 0;
            top: .05rem;
            right: 0;
            @include border(border, 1px, solid, #aaa0a2);
            border-radius: 3px;
          }
          .img-shade2{
            position: absolute;
            z-index: 8;
            width: 100%;
            height: 100%;
            left: 0;
            top: .1rem;
            right: 0;
            box-sizing: border-box;
            @include border(border, 1px, solid, #aaa0a2);
            border-radius: 3px;
          }
        }

        .card-bg{
          width: 100%; // 2
          height: 2.7rem;
          border-radius: .05rem;
        }

        .card-sum, .card-logo{
          position: absolute;
          z-index: 12;
          display: block;
        }

        .card-sum{
          left: .1rem;
          bottom: .13rem;
          height: .3rem;
          padding: 0 .05rem 0;
          @include px2px(font-size, 12);
          color: #004782;
          line-height: .3rem;
          text-align: center;
          //background-color: #01416f;
          border-radius: 2px;
        }

        .card-logo{
          position: absolute;
          top: .15rem;
          right: .15rem;
          width: 19.5%; // .39
          height: .4rem;
          border-radius: .05rem;
          background-color: #fe8501;
          color: white;
          text-align: center;
          line-height: .4rem;
        }
      }
    }
  }
}