:global {
  @import "Common";

  .expiry-container{
    
    .expiry{
      height: 100%;
      background-color: #f8f8f8;

      .exp-header{
        display: flex;
        justify-content: start;
        align-items: center;
        height: .8rem;
        line-height: .8rem;
        @include border(border-top, 1px, solid, #eaeaea);
        background-color: #fff;

        .dot{
          width: .1rem;
          height: .1rem;
          border-radius: .1rem;
          background-color: #e84142;
        }
        .info{
          padding-left: .12rem;
          font-size: .35rem;
          line-height: .8rem;
          color: #242424;
          font-weight: 700;
        }
      }

      .exp-section{
        padding: .3rem;
        background-color: #f8f8f8;

        .form-item{
          display: flex;
          align-items: center;
          justify-content: start;
          padding: .45rem .24rem;
          font-size: .32rem;
          color: #b3b3b3;

          .label{
            padding-right: .1rem
          }
          .input{
            display: flex;
            justify-content: start;
            align-items: center;
            flex: 1;
            font-size: 28px;
            background-color: #f8f8f8;

            input{
              width: 100%;
              height: .4rem;
              border-style: none;
              font-size: .32rem;
              outline: medium;
              background-color: #f8f8f8;
            }       
          }
        }
      }
      .exp-footer{
        margin-top: .6rem;

        .btn{
          width: 6.3rem;
          height: .85rem;
          margin: 0 auto;
          border-radius: .05rem;
          text-align: center;
          line-height: .85rem;
          font-size: .4rem;
          color: white;
          background-color: #f69400;
        }
      }
    }

    .exp-warnInfo{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(123,123,123,.8);

      .inner{
        position: absolute;
        top: 2rem;
        left: 50%;
        width: 6.22rem;
        //height: 3.51rem;
        margin-left: -3.11rem;
        border-radius: .1rem;
        color:black;
        background: rgba(215,215,215,1);

        .header{
          width: 100%;
          height: .88rem;
          text-align: center;
          line-height: 1.2rem;
          font-size: .36rem;
        }

        .content{
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          width: 90%;
          margin: 0 auto;

          .item-info{
            width: 100%;
            line-height: .55rem;
          }
        }

        .footer{
          display: flex;
          width: 100%;
          height: .95rem;
          font-size: .36rem;
          color: blue;
          line-height: .95rem;
          @include border(border-top, 1px, solid, #979797);
          //border-top: .01rem solid #979797;

          .cancel, .submit{
            width: 49.9%;
            height: 100%;
            text-align: center;
            line-height: .95rem;
          }
          .cancel{
            @include border(border-right, 1px, solid, #979797);
            //border-right: .01rem solid #979797;
          }
        }

      }
    }

    .exp-displayInfo{
      background: #f7f7f7;

      .header{
        position: relative;
        width: 100%; // 7.5rem
        height: 6.18rem;
        background: #f7f7f7;
        @include border(border-bottom, 1px, solid, #d5d3d2);
        //border-bottom: .01rem solid #d5d3d2;

        .img{
          position: absolute;
          left: 50%;
          top: 33%;
          width: 71.3%; // 5.35rem
          height: 4.43rem;
          margin-left: -2.67rem; 
          background: url('./../img/packagePrize.png') no-repeat center;
          background-size: 5.35rem 4.43rem;
        }
      }

      .center{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: .24rem 0;
        background: white;

        .li{
          width: 100%;
          padding-left: .2rem;
          line-height: .5rem;
          font-size: .3rem;

          .tag{
            color: #df3031;
          }
          .info{

          }
        }
      }
      .footer{
        width: 100%;
        height: 3.28rem;

        .useforuser{
          display: flex;
          width: 100%;
          height: 1.15rem;
          padding: 0 .45rem;
          justify-content: flex-start;
          align-items: center;
          @include border(border-bottom, 1px, solid, #d5d3d2);
          //border-bottom: .01rem solid #d5d3d2;
          line-height: .36rem;

          .logo{
            width: .35rem;
            height: .6rem;
            margin-right: .3rem;
            background: url('./../img/trumpet.png') no-repeat center;
            background-size: .35rem .36rem; 
          }

          .prompt{
            height: .6rem;
            font-size: .21rem;
          }
        }
      }
    }
  }
}


