:global {
  @import "Common";

  .h-main-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #f21745;

    .title-img{
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 4.65rem;
      background: url(./../img/mainBanner.png) no-repeat center;
      background-size: 100% 4.65rem;

      .title-text{
        position: absolute;
        top: 2.68rem;
        left: .79rem;
        width: 5.93rem;
        height: 1.05rem;
        font-size: .24rem;
        color: white;
        text-align: center;
        line-height: 1.05rem;
        background: url(./../img/bannerTitle.png) no-repeat center left;
        background-size: contain;
      }

      .cd{
        left: 0.24rem;
        top: 0.17rem;
        display: flex;
        padding: .05rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        box-sizing: border-box;
        @include border(border, 1px, solid, #653634);

        .cd-in{
          display: flex;
          box-sizing: border-box;
          align-items: center;
          @include border(border, 1px, dotted, #fff21a);
          .cd-l,.cd-r{
            text-align: center;
            color: white;
          }

          .cd-l{
            box-sizing: border-box;
            padding: .1rem;
            @include border(border-right, 1px, dotted, #fff21a);
            @include px2px(font-size, 9)
          }
          .cd-r {
            flex: 1;
            padding: .1rem;
          }
          .cd-unit{
            @include px2px(font-size, 9)
          }
        }
      }
    }
    .h-carousel{
      width: 100%;
      height: 0.4rem;
      margin: .3rem 0 .2rem 0;
      color: white;
      line-height: 0.5rem;
      text-align: center;
      font-size: .24rem;
      overflow: hidden;

      .carousel-box1, .carousel-box2{
        width: 100%;
        margin: 0 auto;
      }
      .award-info{
        width: 100%;
        height: .4rem;
        margin: 0 auto;
        text-align: center;
        line-height: .4rem;
      }
    }

  }


  .winn-li{
    position: relative;
    display: flex;
    width: 100%;
    height: 1.85rem;
    padding-left: 0.2rem;
    align-items: center;
    color: white;


    .winn-li-l{
      display: flex;
      width: 20%; // 1.5
      height: 1.27rem;
      margin-right: 5.2%;
      justify-content: center;
      align-items: center;
      background-color: white;

      .prize-img{
        width: 1.08rem;
        height: 1.05rem;
      }      
    }

    .winn-li-cen{
      width: 43%; // 3
      margin-right: 0.2rem;

      .prize-name,.prize-date{
        padding: .02rem 0;
        @include px2px(font-size, 14);
      }

      .prize-limit{
        width: auto;
        padding: .02rem 0;
        @include px2px(font-size, 12);
      }
    }
    .winn-li-r{
      width: 27.2%;
      height: 0.64rem;
      border-radius: 3px;
      text-align: center;
      line-height: 0.64rem;
      background: #ffbf40;
    }

    .btn-style-0{
      background: #ffbf40;
    }
    
    .btn-style-1{
      background: #ffbf40;
    }

    .btn-style-2{
      background: #a62617;
    }
    .btn-style-3{
      background: #b5b5b5;
    }

  }

  .list-change-style li:nth-child(2n+1){
    background-color: #f21745;
  }
  .list-change-style li:nth-child(2n){
    background-color: #e50833;
  }

  .pari-record{
    width:100%;

    .pari-recordls{

      .pari-li{
        display: flex;
        align-items: center;
        width: 100%;
        height: 1.85rem;
        padding-left: 0.27rem;

        .pari-li-l{
          display: flex;
          width: 77.3%; // 5.8
          margin-right: 0.1rem;
          color: white;
        }

        .pari-logo{
          position: relative;
          width: 0.6rem;
          height: 0.6rem;
          margin-right: 0.17rem;
          border-radius: 0.6rem;
          background: url(./../img/circleLogo.png) no-repeat center center;
          background-size: 0.6rem 0.6rem;

          .logo-header{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: .6rem;
          }
        }

        .pari-prize{
          padding: .02rem 0;
          @include px2px(font-size, 14);
        }

        .pari-user{
          padding: .02rem 0;
          @include px2px(font-size, 12);
          line-height: 0.4rem;
        }

        .pari-li-r{
          //z-index: 1;
          width: 14.4%; // 1.08
          height: 1.05rem;
          background-color: white;
          //background: white url(./../img/cardBg.png) no-repeat center;
          //background-size: .5rem .5rem;

          .past-prizebg{
            //z-index: 10;
            width: 100%;
            height: 100%;
          }
        }

      }


      .pari-li:nth-child(2n){
        background-color: #e50833;
      }  
    }
  }

  .record-title{
    display: flex;
    width: 100%;
    height: 0.81rem;
    justify-content: space-between;
    color: white;
    background: url(../img/RecordTitle.png) no-repeat top right;
    background-size: 98.26% 0.81rem;

    .record-title-text,.record-title-info{
      height: 0.81rem;
      line-height: 0.7rem;
    }

    .record-title-text{
      margin-left: 1.05rem;
    }

    .record-title-info{
      margin-right: 0.12rem;
      color: white;
      text-decoration: none;
    }
  }

  .collect-cards{
    display: flex;
    width: 95.3%; // 7.15
    height: 1.37rem;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
    line-height: 1.37rem;
  }


  .coll-cardsls{
    display: flex;
    justify-content: start;
    width: 96%;
    margin: 0 auto .4rem;
  }
  .space-between{
    justify-content: space-between;
  }
  .coll-cardsli{
    position: relative;
    width: 14.7%; // 1.06
    height: 1.43rem;
    margin-right: .25rem;
    list-style: none;
    border-radius: 3px;
    background: white url(./../img/cardBg.png) no-repeat center;
    background-size: .4rem .4rem;

    .coll-cardsbg{
      position: absolute;
      width: 100%;
      height: 1.43rem;
      border-radius: 3px;
    }
    .shade-img{
      background: rgba(255,255,255,.75);
    }

    .card-shade{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: .05rem;
      background: rgba(255,255,255,.75);
    }

    .card-desc{
      position: absolute;
      left: .05rem;
      bottom: .05rem;
      height: .3rem;
      padding: 0 .05rem 0;
      @include px2px(font-size, 12);
      text-align: center;
      line-height: .3rem;
      color: white;
      border-radius: 2px;
      background-color: #01416f;
    }
  }

  .margin0{
    margin: 0;
  }

  .home-about-rule{
    @include px2px(font-size, 13);
  }
  .home-about-rule>ul{
    margin: .43rem .25rem 0 .25rem;
    padding-bottom: 0.5rem;
    color: white;
    list-style: none;
  }
  .home-about-rule>ul>li{
    line-height: .4rem;
  }
  .rules-qa{
    margin: .4rem .26rem .55rem;
    line-height: .45rem;
    color: #fff;
  }
  .rules-step-title{
    width: 1.13rem;
    margin-bottom: .25rem;
    text-align: center;
    line-height: .3rem;
    @include px2px(font-size, 13);
    @include border(border-top,1px,solid,white);
    @include border(border-bottom,1px,solid,white);
  }
  .h-card-dialog{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);


    .dialog-inner{
      z-index: 101;
      box-sizing: border-box;
      width: 72.8%; // 5.46
      height: 75.16%; // 9.02
      background: url(./../img/dialogBg.png) no-repeat center center;
      margin: .87rem auto 0;
      padding-top: .45rem;
      border-radius: 3px;

      .cover{
        position: relative;
        width: 82.8%; // 4.36
        height: 70%; // 5.89
        margin: 0 auto;
        border-radius: 10px;

        .cover-card-bg{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }

        .share{
          position: absolute;
          top: .23rem;
          right: .23rem;
          width: .9rem;
          height: .4rem;
          border-radius: .05rem;
          color: white;
          text-align: center;
          line-height: .4rem;
          background-color: #df3031;
        }
      }

      .footer{
        width: 89%; // 4.86
        height: 2rem;
        margin: 0 auto;

        .info{
          width: 100%;
          height: 1.06rem;
          margin: .35rem auto 0;
          color: white;
        }

        .justify-content1{
          justify-content: space-between;
        }

        .justify-content2{
          justify-content: center;
        }
        
        .btn{
          display: flex;
          width: 100%;
          height: .65rem;

          .close,.present{
            width: 48.35%; // 2.35rem
            height: .65rem;
            border-radius: .05rem;
            color: white;
            text-align: center;
            line-height: .65rem;
          }

          .close{
            background-color: #b5b5b5;
          }
          .present{
            background-color: #ffbf40;
          }
        }
      }
    }
  }
}