:global {
  @import "Common";
  .mycards-container{
    width:100%;
    background-color: #f7f7f7;

    .mycards-ls{
      width:100%;

      .mycards-li{
        background-color: #f7f7f7;
        list-style: none;
      }

      .mycards-li:nth-child(2n){
        background-color: #eaeaea;
      }
    }
  }
  .OneSubcards{
    width: 7.1rem;
    //height: 2.43rem;
    color: #595656;
    margin: 0 auto;
    padding-top: .23rem;

    .cards{
      display: flex;
      justify-content: space-between;
      width: 7.1rem;
      height: .53rem;
    }
    .ls{
      //display: flex;
      //flex-wrap: wrap;
      //justify-content: start;
      width: 7.1rem;
      .li{
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 1.06rem;
        height: 1.43rem;
        margin: 0 .12rem .1rem 0;
        background: white url(./../img/cardBg.png) no-repeat center;
        background-size: .4rem .4rem;
        //@include border(border, 1px, solid, #cecece);
        //border: 1px solid #cecece;
        border-radius: 3px;
        list-style: none;

        .card-bg{
          position: absolute;
          z-index: 10;
          width: 1.06rem;
          height: 1.43rem;
        }
        .shade-img{
          z-index: 11;
          background: rgba(255,255,255,.75);
        }
        .number{
          z-index: 11;
          position: absolute;
          left : 3px;
          bottom: 4px;
          height: .3rem;
          padding: 0 .05rem 0;
          @include px2px(font-size, 12);
          color: white;
          text-align: center;
          line-height: .3rem;
          border-radius: 2px;
          background-color: #01416f;
        }
      }
    }
  }
}




