:global {
  .load-btn{
    display: flex;
    box-sizing: border-box;
    width: 94.6%;
    height: .75rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: .01rem solid #eaeaea;
    border-radius: .05rem;

/*      .logo{
      width: .7rem;
      height:.7rem;
    }*/

    .text{
      width: 100%;
      height: 98.5%;
      font-size: .3rem;
      text-align: center;
      line-height: .75rem;
      color: #bababa;
    }
  }
}




