:global {
  @import "Common";

  .anotherBg{
    background: url(./../img/dialogBg.png) no-repeat top left;
    background-size: 100% 100%;
  }

  .oneBg{
    background: url(./../img/shareBg.png) no-repeat center center;
    background-size: 100% 100%;
  }
  .share{
    position: relative;
    width: 7.5rem;
    overflow: hidden;

    .header{
      display: flex;
      width: 6.8rem;
      height: 1.7rem;
      margin-left: .35rem;
      align-items: center;
      justify-content: center;
      color: white;

      .title{
        width: 100%;
        height: .57rem;
        margin-bottom: .1rem;
        font-weight: bold;
        @include px2px(font-size, 20);
        line-height: .8rem;
      }

      .text{
        width: 100%;
        height: .6rem;
        @include px2px(font-size, 16);
        line-height: .4rem;
        text-align: center;
      }
      .info{
        width: 100%;
        height: .8rem;
      }
      .userinfo,.introduce{
        width: 80%;
        height: .4rem;
        @include px2px(font-size, 15);
        line-height: .4rem;
      }

      .winnlogo{
        position: absolute;
        top: .18rem;
        left: 5.88rem;
        z-index: 10000;
        width: 2.03rem;
        height: 2.03rem;
        background: url(./../img/winningLogo.png) no-repeat center;
        background-size: 2.03rem 2.03rem;
      }
    }
    .shareCard-img{
      position: relative;
      z-index: 1;
      width: 4.55rem;
      height: 6.15rem;
      margin: 0 auto;
      background: white;
      border-radius: 10px;
      background: url(./../img/cardBg.png) no-repeat center;
      background-size: 2rem 1.94rem;

      .sharecard-bg{
        position: absolute;
        z-index: 10;
        width: 4.55rem;
        height: 6.15rem;
        border-radius: 10px;
      }
    }
    .footer{
      width: 6.8rem;
      height: 3rem;
      margin: .26rem auto 0;
      color: white;
      @include px2px(font-size, 15);
      text-align: center;

      .info1{
        margin-top: .45rem;
      }
      .card-No{
        width: 100%;
        //text-align: center;
        line-height: .4rem;
      }
      .prize{
        text-align: center;
      }
      .prize-title{
        width: 100%;
        margin: .35rem 0 .1rem;
        @include px2px(font-size, 18);
      }

      .address{
        width: 100%;
        @include px2px(font-size, 12);
      }

      .info3{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info3-img{
          position: relative;
          z-index: 1;
          width: 1.36rem;
          height: 1.27rem;
          background-color: white;
          
          .info3prize-bg{
            position: absolute;
            z-index: 10;
            width: 1.36rem;
            height: 1.27rem;
          }
        }
        .info3-text{
          display: flex;
          align-items: center;
          width: 5.1rem;
          height: 1.27rem;
          text-align: start;

          .info3-prize{
            text-align: start
          }
        }
      }
      .btn-margin12{
        margin-top: .38rem;
      }
      .btn-margin3{
        margin-top: .28rem;
      }
      .share-btn{
        width: 100%;
        height: .8rem;
        text-align: center;
        line-height: .8rem;
        border-radius: .05rem;
        background-color: #ffbf40;
      }
    }
  }

}