:global {
  .share-banner{
    display: flex;
    width: 100%;
    height: 1.15rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #f7f7f7;

    .banner-inner{
      display: flex;
      width: 6.82rem;
      height: .61rem;
      justify-content: space-between;
      align-items: center;

      .banner-l{
        width: 4.2rem;
        height: .61rem;
        background: url('./../img/neteaseLogo.png') no-repeat center;
        background-size: 4.2rem .61rem;
      }
      .banner-r{
        width: 1.4rem;
        height: .61rem;
        font-size: .26rem;
        text-align: center;
        line-height: .61rem;
        color: #e12000;
      }
    }

  }

}